<!DOCTYPE html>
<html>

<body>
    <h1>Sample App</h1>
    <p>Hi <%= @user.name %>,</p>

    <p>
        Welcome to the Sample App! Click the link below to activate your account:
    </p>

    <p>
        <a href="<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>">
            Activate my account
        </a>
    </p>

    <p>
        Thanks,<br>
        The Sample App Team
    </p>
</body>

</html>