<% provide(:title, 'All users') %>

<h1>All users</h1>

<!-- Pagination top -->
<%= will_paginate @users, class: "pagination-top" %>

<ul class="users">
    <%= render @users %>
</ul>

<!-- Pagination bottom -->
<%= will_paginate @users, class: "pagination-bottom" %>